*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#player_1Div, #player_2Div{
  position: absolute;
  display: flex;
  align-items: center;
  top: 4%;
  opacity: 0.5;
  background-color: lightgray;
  width: 300px;
  height: 40px;
  padding: 20px;
}

#player_1Div{
  left: 3%;
}

#player_2Div{
  right: 3%;
}

#logOnPanel{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 40%;
  opacity: 0.5;
  background-color: lightgray;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 30%;
}

#messageDiv{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 4%;
  opacity: 0.5;
  background-color: lightgray;
  width: 300px;
  height: 100px;
  padding: 20px;
  margin-left: 3%;
}

#logOnButton{
  margin-top: 5px;
}
